<% if current_user.blank? %>
  <div class="row">
    <div class="col-md-12">
      <h3><%= link_to "Sign in", new_user_session_path %></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3><%= link_to "Sign up", new_user_registration_path %></h3>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-12">
      <h3><%= link_to "Sign out", destroy_user_session_path, method: :delete %></h3>
    </div>
  </div>
<% end %>