/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body {
  background-color: lightblue;
  color: black;
  background-image: url("/bg.png");
}

.main {
  border-radius: 10px;
  background-color: rgba(255,253,192,0.5);
}

a {
  color: red;
  &::hover {
    color: darkred;
    text-decoration: underline;
  }
}

input, form, textarea {
  width: 100%;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  border: none;
}

.information-card {
  color: rgba(204,178,76,1);
  border-radius: 10px;
  background-color:rgba(255,253,192, 0.8);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  a {
    padding: 10px;
    color: rgba(69,125,151,1);
    &:hover {
      color: gray;
    }
  }
  &.header {
    color: white;
    background-color: rgba(69,125,151,0.3);
    border-radius: 0;
  }
}

input, textarea {
  color: white;
  background-color: grey;
  &:hover {
    background-color: blue;
  }
}

.notice, .alert {
  padding: 10px;
  border-radius: 10px;
}

.notice {
  background-color: rgb(247,214,131);
}

.alert {
  background-color: rgb(204,178,76);
}